body,#body,#body2{
    background-color: rgb(210, 210, 210);
}
/* home */
#navbar{
    background-color:gray;
}
#menu:link{
    color: white;
}
#menu:hover{
    color: black;
}
#link1{
    margin-left: 2%;
}
#link2{
    margin-left: 650%;
}
#link4{
    margin-left: 30%;
}
#menu2{
    margin-top: 10%;
    background-color: black;
    margin-right: 5%;
    text-align: center;
}
#menu3:link{
    color: white;
}
#menu3:hover{
    color: gray;
}
#soldes2{
    text-align: center;
    margin-top: 5%;
    padding: 5%;
    margin-left: 2%;
}
#pourcent{
    text-align: center;
    color: white;
    border: 2px white solid;
    padding: 5%;
    margin: 0.5%;
}
/*css sign in/log in*/
#container{
    position: absolute;
    width: 25%;
    top: 30%;
    left: 35%;
    transform: translate(0%,-35%);
    background-color: #181515;
    color: rgb(210, 210, 210);
    font-size: 17px;
    padding: 10px 10px;
    border: solid;
    text-align: center;
}
.error{
    font-size: 20px;
    font-style: italic;
    color:#ff2929;
    margin: 5px;
}
/*css panier*/
.command{
    position: absolute;
    width: 40%;
    top: 30%;
    left: 25%;
    transform: translate(0%,-35%);
    background-color: #181515;
    color: rgb(210, 210, 210);
    font-size: 17px;
    padding: 10px 10px;
    border: solid;
    text-align: center;
}
.registerbtn{
    background-color: #181515;
    color: rgb(170, 170, 170);
    font-size: 10px;
    padding: 15px 20px;
    border: solid;
    cursor: pointer;
    text-align: center;
}
.registerbtn:hover{
    background-color: rgb(170, 170, 170);
    color: #181515;
}
/* profil.php */
#retour{
    margin-top: 3%;
    width: 40%;
}
.buttonAdmin{
    display: flex;
    margin-left: 44%;
    margin-top: 30%;
}
.accessAdmin{
    background-color: #181515;
    color: rgb(170, 170, 170);
    font-size: 18px;
    padding: 16px 30px;
    border: solid;
    cursor: pointer;
    text-align: center;
    margin: 3px;
}
.accessAdmin:hover{
    background-color: rgb(170, 170, 170);
    color: #181515;
}

body{
    background-color: #888484;
}
h1{
    font-size: 150%;
}
/*css home.php*/
/*head*/
.navigation{
    width: auto;
    height: 10%;
    background-color:rgb(170, 170, 170);
    display: flex;
    flex-direction: line;
}
.navigation .site-search{
    margin-left: 30%;
}
/*button home.php*/
.navigation .searchButton{
    background-color: #181515;
    color: rgb(170, 170, 170);
    font-size: 18px;
    padding: 16px 30px;
    border: solid;
    cursor: pointer;
    text-align: center;
}
.navigation .searchButton:hover{
    background-color: rgb(170, 170, 170);
    color: #181515;
}
.navigation .chooseWindow{
    margin-left: 12%;
    background-color: #181515;
    color: rgb(170, 170, 170);
    font-size: 18px;
    padding: 16px 30px;
    border: solid;
    cursor: pointer;
    text-align: center;
}
.navigation .chooseWindow:hover{
    background-color: rgb(170, 170, 170);
    color: #181515;
}
/*Left menu for category*/
.menu {
    display: flex;
    flex-direction: column;
    margin-top: -15%;
    margin-left: 100px;
    width: 14%;
    max-width: 400px;   
}
.menu .catégorie {
    top: 55%;
    left: 50%;
    transform: translate(-50%, 60%);
    background-color: #181515;
    color: rgb(170, 170, 170);
    font-size: 18px;
    padding: 16px 30px;
    border: solid;
    cursor: pointer;
    text-align: center;
    margin: 3px;
}
.menu .catégorie:hover {
    background-color: rgb(170, 170, 170);
    color: #181515;
}
/*screen*/
.screen{
    position: absolute;
    width: 80%;
    top: 13%;
    left: 17%;
    background-color: #181515;
    color: rgb(210, 210, 210);
    font-size: 17px;
    padding: 10px 10px;
    border: solid;
    text-align: center;
}
#box{
    display: flex;
    flex-flow: row wrap;
    border: solid;
    width: 15%;
}
blockquote{
    text-align: center;
}
/* admin.php */
.adminPannel{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 85%;
    width: 14%;
    max-width: 400px;
}
.adminbtn{
    background-color: #181515;
    color: rgb(170, 170, 170);
    font-size: 18px;
    padding: 16px 30px;
    border: solid;
    cursor: pointer;
    text-align: center;
    margin: 3px;
}
.adminbtn:hover{
    background-color: rgb(170, 170, 170);
    color: #181515;
}
.adminScreen{
    position: absolute;
    width: 65%;
    top: 13%;
    left: 17%;
    background-color: #181515;
    color: rgb(210, 210, 210);
    font-size: 17px;
    padding: 10px 10px;
    border: solid;
    text-align: center;
}
/*item.php*/
#imgArticle{
    margin-top: 2%;
    margin-left: 2%;
}
.articleInfo{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
#box{
    position: absolute;
    width: 75%;
    top: 10%;
    left: 24%;
    background-color: #303030;
    color: rgb(210, 210, 210);
    font-size: 17px;
    padding: 10px 10px;
    border: solid;
}
blockquote{
    text-align: left;
}